<div id="slideshow">
    <div id="slideshow-reel">
        <div class="slide">
            <%=image_tag "phone.jpg", :class => "phone-img", :alt => "" %>
            <h1>
              We know how to develop great <strong>Mobile App</strong>
            </h1>
        </div>
        
        <div class="slide">
            <h1>
              We know how to develop great <strong>Mobile App</strong>
            </h1>
            <%=image_tag "splash2.png", :class => "phone-img", :alt => "" %>
        </div>
        
        <div class="slide">
            <%=image_tag "phone.jpg", :class => "phone-img", :alt => "" %>
            <h1>
              We know how to develop great <strong>Mobile App</strong>
            </h1>
        </div>
        
    </div>
    
    <a href="#" id="slideshow-left" class="slideshow-arrow"></a>
    <a href="#" id="slideshow-right" class="slideshow-arrow"></a>
    
    <div id="slideshow-nav">
        <a href="#" class="nav-item">
            <span class="nav-item-line nav-item-line-hidden"></span>
            <span class="nav-item-dot"></span>
            <span class="nav-item-line"></span>
        </a>
        
        <a href="#" class="nav-item">
            <span class="nav-item-line"></span>
            <span class="nav-item-dot"></span>
            <span class="nav-item-line"></span>
        </a>
        
        <a href="#" class="nav-item">
            <span class="nav-item-line"></span>
            <span class="nav-item-dot"></span>
            <span class="nav-item-line nav-item-line-hidden"></span>
        </a>
        
        <span id="active-nav-item">
            <span class="active-nav-item-inner"></span>
        </span>
    </div>
</div>