<div id="slideshow">
  <div class="slide splash1">
    <%=link_to mobile_services_path, :class => "main_link" do %>
    
    <% end %>
  </div>
  
  <div class="slide splash2">
    <%=link_to mobile_news_services_path, :class => "main_link" do %>
      
    <% end %>
  </div>
  
  <div class="slide splash3">
    <%=link_to projects_path, :class => "main_link" do %>
      
    <% end %>
  </div>
</div>