Hello guys, we have new main from customer:<br />
<p>
  <h2>Information:</h2>
  <ul>
    <li><strong>Name:</strong> <%=@contact.name%></li>
    <li><strong>Email:</strong> <%=@contact.email%></li>
    <li><strong>Subject:</strong> <%=@contact.subject%></li>
    <li><strong>Message:</strong> <%=@contact.message%></li>
  </ul>
</p>
