<aside>
  <h2>Our contacts:</h2>
  <div class="vcard">
    <div class="org">CatWare</div>
    <div class="adr">
      <span class="country-name">Ukraine</span>,
      <span class="locality">Kiev</span>
    </div>
    <div class="mailbox">
      <%=mail_to "contacts@catware.co", "Email us", :encode => "hex", :replace_at => "[at]", :replace_dot => "[dot]" %>
    </div>
    <div class="tel">+38 0979704432</div>
    <!--<div class="im">catware</div>--> <!-- im -->
  </div> <!-- vcard -->
</aside>