<aside>
  <ul class="app-nav">
    <%=project_menu_item "Mobile App", mobile_services_path, true %>
    <%=project_menu_item "Mobile News", mobile_news_services_path, true %>
    <%#=project_menu_item "Web App", web_services_path, true %>
  </ul>
  <h2>Featured App</h2>
  <dl>
    <dd>
        <ul class="list">
          <% @last_projects.each do |project| %>
            <li><%=link_to project.title, show_project_path(project) %></li>
          <% end %>
        </ul>
    </dd>
  </dl>
</aside>