<div class="block" id="block-forms">
  <div class="content">
    <h2 class="title">Add project</h2>
    <div class="inner">
      <%= form_for [:admin, @project], :html => { :class => "form" } do |f| %>
        <%= render :partial => "form", :object => f%>
        <div class="group navform wat-cf">
          <%=f.submit "Add", :class => "button" %>
          <%=link_to "Cancel", admin_projects_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>