<section class="main">
  <h1>Thank you!!!</h1>
  <p>
    Your message has been sent. <br />
    We greatly appreciate you taking the time to write to us. <br />
    We are usually pretty quick to reply :)
  </p>
</section>
<%=render :partial => "shared/contact_box" %>