<h1>Mobile App</h1>
<ul class="projects">
  <% @projects.each do |project| %>
    <li>
      <h2><%=link_to project.title, show_project_path(project), :class => "project_link" %></h2>
      <div class="markdown"><%=raw(project.short_description_markdown)%></div>
      <% if project.logo_img? %>
        <%=link_to show_project_path(project) do %>
          <div class="small_android">
            <%=image_tag project.logo_img.url(:medium), :alt => project.title %>
          </div>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
