<section class="main">
    <h1>About Us</h1>
    <p>
      Catware is a small company located in Ukraine, Kiev. 
      Our passion to develop applications for mobile platforms that help people. 
      Nothing makes us happier than to create something that will delight the end user.
    </p>
    <ul class="team">
      <li class="vcard">
        <%=image_tag "about/AV.png", :alt => "AV", :class =>'left' %>
        <div class="left col1">
          <h2 class="fn n">Aleksey Vasiliev</h2>
          <a href="www.catware.co" class="org url">Catware</a>
          <div class="title">Programming</div>
        </div> <!-- left -->
        <div class="left">
          <div class="tel"><span class="type">Cell</span> +38 097 970 44 32</div>
          <a href="mailto:leopard@catware.com" class="email">Send me email</a>
          <a href="skype:leopard_not_a?chat" class="im">Chat with me</a>
        </div> <!-- left -->
      </li>
      <li class="vcard">
        <%=image_tag "about/TP.png", :alt => "TP", :class =>'left' %>
        <div class="left col1">
          <h2 class="fn n">Timur Prokopiev</h2>
          <a href="www.catware.co" class="org url">Catware</a>
          <div class="title">UI and Design</div>
        </div> <!-- left -->
        <div class="left">
          <div class="tel"><span class="type">Cell</span> +38 050 641 55 93</div>
          <a href="mailto:pojitonov@catware.com" class="email">Send me email</a>
          <a href="skype:pojitonov?chat" class="im">Chat with me</a>
        </div> <!-- left -->
      </li>
    </ul>
</section>
<%=render :partial => "shared/contact_box" %>