<section class="main">
    <h1>About Us</h1>
    <p>
      Catware is a small company located in Ukraine, Kiev. 
      Our passion to develop applications for mobile platforms that help people. 
      Nothing makes us happier than to create something that will delight the end user.
    </p>
    <%=image_tag "about/AV.png", :alt => "AV"%>
    <%=image_tag "about/TP.png", :alt => "TP"%>
</section>
<%=render :partial => "shared/contact_box" %>